<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="keywords" content="">
</head>
<body>
    <h1>Detail member</h1>
    <hr>
    <label>Id:</label>
    <label name="id">{{ member.id }}</label>
    <br>
    <label>First name:</label>
    <label name="firstname">{{ member.first_name }}</label>
    <br>
    <label>Middle name:</label>
    <label type="text" name="middlename">{{ member.middle_name }}</label>
    <br>
    <label>Last name:</label>
    <label type="text" name="lastname">{{ member.last_name }}</label>
    <br>
    <label>Full name:</label>
    <label type="text" name="fullname">{{ member.full_name }}</label>
    <br>
    <a href="{% url 'members:index' %}"><button>Back</button></a>
</body>
</html>