<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="keywords" content="">
</head>
<body>
    <h1>Detail member</h1>
    <hr>
    
    <form action="{% url 'members:edit' member.id %}" method="post">
        {% csrf_token %}
        <fieldset>
            <label hidden>Id</label>
            <input hidden type="text" name="id" value="{{ member.id }}"/>
            <br>
            <label>First name</label>
            <input type="text" name="firstname" value="{{ member.first_name }}"/>
            <br>
            <label>Middle name</label>
            <input type="text" name="middlename" value="{{ member.middle_name }}"/>
            <br>
            <label>Last name</label>
            <input type="text" name="lastname" value="{{ member.last_name }}"/>
            <br>
            <label>Full name</label>
            <input type="text" name="fullname" value="{{ member.full_name }}"/>
            <br>
        </fieldset>
        <input type="submit" value="Edit">
    </form>

</body>
</html>