<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="keywords" content="">
</head>
<body>
    <h1>Edit member</h1>
    <hr>
    
    {% if error_message %}
    <h2>{{ error_message }}</h2>
    <br>
    {% endif %}
    
    <form action="{% url 'members:edit' member.id %}" method="post">
        {% csrf_token %}
        <fieldset>
            <label>First name</label>
            <input type="text" name="first_name" value="{{ member.first_name }}"/>
            <br>
            <label>Middle name</label>
            <input type="text" name="middle_name" value="{{ member.middle_name }}"/>
            <br>
            <label>Last name</label>
            <input type="text" name="last_name" value="{{ member.last_name }}"/>
            <br>
            <label>Full name</label>
            <input type="text" name="full_name" value="{{ member.full_name }}"/>
            <br>
        </fieldset>
        <input type="submit" value="Edit">
    </form>

    <a href="{% url 'members:index' %}"><button>Back</button></a>

</body>
</html>