{% extends "base.html" %}


{% block title %} 
    List member page
{% endblock title %}

{% block title_action %} 
    List member
{% endblock title_action %}

{% block content %} 

    {% if members_list %}
        {% for member in members_list %}
            <li><a href="{% url 'members:detail' member.id %}">{{ member.full_name }}</a></li> <a href="{% url 'members:edit' member.id %}">Edit</a>
        {% endfor %}
    {% else %}
        <p>No members are available.</p>
    {% endif %}

{% endblock content %}