<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="keywords" content="">
</head>
<body>
    <h1>List member</h1>
    <hr>
    {% if members_list %}
        {% for member in members_list %}
            <li><a href="{% url 'members:detail' member.id %}">{{ member.full_name }}</a></li> <a href="{% url 'members:edit' member.id %}">Edit</a>
        {% endfor %}
    {% else %}
        <p>No members are available.</p>
    {% endif %}
</body>
</html>